:root {
    --main: #FF9425;
    --accent: #E8E8E8;
    --link: #FF616F;
    --text-normal: #12130F;
    --text-light: #A1AEB7;
    --body-margin: 2.5rem;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-normal);
}


/* About styling */

.main,
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main {
    margin-top: 10rem;
}

.contact {
    margin: 5rem 0;
}

.about p,
h2 {
    width: 100%;
    text-align: justify;
    padding: 0 10%;
}

.about__logo__img {
    width: 80%;
    /* mask-image: linear-gradient(to right, to left, transparent 1%, var(--accent) 15%); */
    
}

.about__social__icons {
    background-image: linear-gradient(140deg, var(--logo-accent2), var(--logo-accent1));
    padding: 0.5rem 0.8rem;
    border-radius: 20px;    
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.about__social__icons a img {
    width: 4rem;
}

.contact h1 {
    font-size: 5rem;
    color: var(--main);
}

/* Responsive */

@media only screen and (max-width: 1000px) {
    .body {
        padding: 0 5%;
    }


    .about__logo__img {
        width: 100%;
    }

    .about__social__icons {
        padding: 1rem 2rem;
    }

    .about__social__icons a img {
        width: 2rem;
    }

    .about p,
    h2 {
        padding: 0;
    }

    .contact h1 {
        font-size: 2.5rem;
    }
}