:root {
    --main: #FF9425;
    --accent: #E8E8E8;
    --link: #FF616F;
    --text-normal: #12130F;
    --text-light: #A1AEB7;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 5rem 0;
    padding: 0 10%;
}

/* parts grid */

.part {
    background-color: var(--accent);
    padding: 3rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part img {
    width: 7vw;
}


.parts-grid-title {
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
}

.parts-grid-info {
    font-weight: 300;
}


.parts-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.part:nth-child(3) {
    flex-direction: column;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-row-span-2 {
    grid-row: span 2;
}

/* mobile */

@media only screen and (max-width: 430px) {
    .parts-grid {
            grid-template-columns: repeat(1, 1fr);
        }
    .grid-col-span-2 {
            grid-column: span 1;
        }
    
        .grid-row-span-2 {
            grid-row: span 1;
        }
}