:root {
    --main: #FF9425;
    --accent: #E8E8E8;
    --link: #FF616F;
    --text-normal: #12130F;
    --text-light: #A1AEB7;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    margin: 5rem 0;
}

/* start */

.slider {
    padding: 0 10%;
    width: 100%;
}

.slider__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
    height: 500px;
    padding: 0 6rem;
}

.slider__main__left {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider__main i {
    font-size: 2rem;
}

.post-title {
    width: fit-content;
    font-size: 3rem;
}

.slider__main button {
    background-color: var(--main);
    border: none;
    width: fit-content;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

.slider__nav {
    display: flex;
}

.post-card {
    padding: 0 0.5rem;
    margin: 0.5rem;
    display: flex;
    align-items:flex-start;
    gap: 0.5rem;
}

.post-card:nth-child(2) {
    border-right: var(--text-light) 2px solid;
    border-left: var(--text-light) 2px solid;
}

.card-text h3 {
    margin-bottom: 0.5rem;
}

.card-text p {
    text-align: justify;
}

/* responsive */

@media only screen and (max-width: 1000px) {
    .slider {
            padding: 0 5%;
        }
}

@media only screen and (max-width: 435px) {
    
}