{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'frontend/styles/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'frontend/styles/about.css'%}">
    <link rel="stylesheet" href="{% static 'frontend/styles/user-auth.css'%}">
    <title>Computerizer</title>
    <link rel="icon" type="image/x-icon" href="{% static 'frontend/media/nLogo.png'%}">
</head>
<body>
    
        <!-- Nav bar -->
        <header class="body b-nav">
            <nav class="nav-bar">
                <a href="{% url 'home'%}">
                    <div class="logo">
                        <img src="{% static 'frontend/media/whiteLogo.png'%}" width="55px" alt="logo" class="logo__img">
                        <h2 class="logo__name">
                            Blog
                        </h2>
                    </div>
                </a>
                <div class="menus">
                    <ul class="pages">
                        <li>
                            <a href="{% url 'home'%}">home</a>
                        </li>
                        <li class="coming-soon" data-tooltip="coming soon!">
                            <a href="#">PC tool</a>
                        </li>
                        <li>
                            <a href="{% url 'recents'%}">recents</a>
                        </li>
                        <li id="active">
                            <a href="{% url 'about'%}">about</a>
                        </li>
                    </ul>
                    <button class="sign-up_btn">
                        subscribe
                    </button>
                </div>
        
                <div class="mobile">
                    <div class="menus__mobile hide">
                        <ul class="pages__mobile">
                            <li>
                                <i class="material-icons close__menu">
                                    cancel
                                </i>
                            </li>
                            <li>
                                <a href="{% url 'home'%}">home</a>
                            </li>
                            <li>
                                <a href="#">PC tool</a>
                            </li>
                            <li>
                                <a href="{% url 'recents'%}">recents</a>
                            </li>
                            <li id="active">
                                <a href="{% url 'about'%}">about</a>
                            </li>
                            <li> 
                                <button class="sign-up_mobile">
                                    subscribe
                                </button>
                            </li>
                        </ul>
                    </div>
                    <i class="material-icons menu__btn">
                        menu
                    </i>
                </div>
        
            </nav>
        </header>


    <div class="body about">

        <section class="main">
            <img src="{% static 'frontend/media/header.png'%}" alt="logo" class="about__logo__img">

            <h2>Mission:</h2>
            <p>Computerizer aims to be your companion in your computer building journey, helping you get started by providing tutorials
            and articles that solve both common and part specific problems. The elephant in the room is the pc building tool, that
            walks you through an easy to follow step by step process to buy your dream computer. At Computerizer we put our users
            and clients first, so instead of only suggesting you parts and products that fit your need, we do so while bringing you
            the best prices and highest discounts across the internet from established platforms.
            </p>
            <p><em>Building Tool - Coming soon...</em></p>
            

            <h2>Vision:</h2>
            <p>Our vision is to make computer building accessible to everyone regardless of budget, experience, or geographic location.
            Our tools and services are free to use by everyone. We believe our customers and users always come first, therefore we
            will not overload you with unnecessary advertisements and pop-ups. Immerse yourself in the world of pc building, have
            fun, remember to press the power supply switch before your first testing, and stay Computerized ⚡</p>
            
        </section>

        <section class="body contact">

            <div class="about__social__icons">
                <a href="https://www.reddit.com/r/computerizer/"
                target="_blank">
                    <img src="{% static 'frontend/media/reddit.svg'%}" alt="reddit logo">
                </a>
                <a href="https://twitter.com/computerizer__?s=11&t=4z3z9pOn76PxqEh8y10TTQ"
                target="_blank">
                    <img src="{% static 'frontend/media/twitter.svg'%}" alt="twitter logo">
                </a>
                <a href="https://www.linkedin.com/company/thecomputerizer/"
                target="_blank">
                    <img src="{% static 'frontend/media/linkedin.svg'%}" alt="/linkedin logo">
                </a>
                <a href="https://instagram.com/computerizer_?igshid=YmMyMTA2M2Y="
                target="_blank">
                    <img src="{% static 'frontend/media/instagram.svg'%}" alt="instagram logo">
                </a>
                <a href="computerizer.team@gmail.com">
                    <img src="{% static 'frontend/media/square-envelope-solid.svg'%}" alt="github logo">
                </a>
            </div>

        </section>
    </div>

    



    <!-- footer -->
    <div class="body b-footer">
        <footer>
            <div class="footer__social">
                <div class="footer__social__icons">
                    <a href="https://www.reddit.com/r/computerizer/" target="_blank">
                        <img src="{% static 'frontend/media/reddit.svg'%}" alt="reddit logo">
                    </a>
                    <a href="https://twitter.com/computerizer__?s=11&t=4z3z9pOn76PxqEh8y10TTQ" target="_blank">
                        <img src="{% static 'frontend/media/twitter.svg'%}" alt="twitter logo">
                    </a>
                    <a href="https://www.linkedin.com/company/thecomputerizer/" target="_blank">
                        <img src="{% static 'frontend/media/linkedin.svg'%}" alt="/linkedin logo">
                    </a>
                    <a href="https://instagram.com/computerizer_?igshid=YmMyMTA2M2Y=" target="_blank">
                        <img src="{% static 'frontend/media/instagram.svg'%}" alt="instagram logo">
                    </a>
                </div>
                <p>2022 LTD | All rights reserved</p>
            </div>
    
            <div class="footer__logo">
                <img src="{% static 'frontend/media/nLogo.png'%}" alt="logo">
            </div>
    
            <h3 class="footer__name">COMPUTERIZER</h3>
        </footer>
    </div>


    <script src="{% static 'frontend/functions/navbar.js'%}"></script>
    <script src="{% static 'frontend/functions/renderSubs.js'%}" type="module"></script>

</body>
</html>