{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'frontend/styles/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'frontend/styles/index.css'%}">
    <link rel="stylesheet" href="{% static 'frontend/styles/user-auth.css'%}">
    <title>Computerizer | Blog</title>
    <link rel="icon" type="image/x-icon" href="{% static 'frontend/media/nLogo.png'%}">
</head>

<body>
    
    <!-- Nav bar -->
    <header class="body b-nav">
        <nav class="nav-bar">
            <a href="{% url 'home'%}">
                <div class="logo">
                    <img src="{% static 'frontend/media/whiteLogo.png'%}" width="55px" alt="logo" class="logo__img">
                    <h2 class="logo__name">
                        Blog
                    </h2>
                </div>
            </a>
            <div class="menus">
                <ul class="pages">
                    <li id="active">
                        <a href="{% url 'home'%}">home</a>
                    </li>
                    <li>
                        <a href="{% url 'recents'%}">recents</a>
                    </li>
                    <li>
                        <a href="#subscribe">subscribe</a>
                    </li>
                    <li>
                        <a href="{% url 'about'%}">about</a>
                    </li>
                </ul>
                <button class="sign-up_btn">
                sign up
                </button>
            </div>
    
            <div class="mobile">
                <div class="menus__mobile hide">
                    <ul class="pages__mobile">
                        <li>
                            <i class="material-icons close__menu">
                                cancel
                            </i>
                        </li>
                        <li id="active">
                            <a href="{% url 'home'%}">home</a>
                        </li>
                        <li>
                            <a href="{% url 'recents'%}">recents</a>
                        </li>
                        <li>
                            <a href="{% url 'home'%}">subscribe</a>
                        </li>
                        <li>
                            <a href="{% url 'about'%}">about</a>
                        </li>
                        <li>
                            <button class="sign-up_mobile">
                                sign up
                            </button>
                        </li>
                    </ul>
                </div>
                <i class="material-icons menu__btn">
                    menu
                </i>
            </div>
    
        </nav>
    </header>

    <!-- slider -->
    
    <div class="body">
        <div class="slider">
            <div class="slider__main">
                
                    <div class="slider__main__left">
                        
                    </div>
                    
                
            </div>
            <div class="slider__nav">
                
            </div>
        </div>
    </div>
    
        <!-- parts grid -->
    <div class="body b-grid">
        <div class="parts-grid">
        
            <div class="part CPU grid-row-span-2 vertical">
                <a href="" target="_blank">
                    <div class="parts-grid-text ">
                        <h3 class="parts-grid-title">CPU</h3>
                        <p class="parts-grid-info"></p>
                    </div>
                    <img src="" alt="part">
                </a>
            </div>

            <div class="part Cooler">
                <a href="" target="_blank">
                    <div class="parts-grid-text ">
                        <h3 class="parts-grid-title">Cooler</h3>
                        <p class="parts-grid-info"></p>
                    </div>
                    <img src="" alt="part" width="100px">
                </a>
            </div>

            
            <div class="part grid-row-span-3 Case vertical">
                <a href="" target="_blank">
                    <div class="parts-grid-text">
                        <h3 class="parts-grid-title">Case</h3>
                        <p class="parts-grid-info"></p>
                    </div>
                    <img src="" alt="part" width="100px">
                </a>
            </div>

            <div class="part RAM">
                <a href="" target="_blank">
                    <div class="parts-grid-text">
                        <h3 class="parts-grid-title">RAM</h3>
                        <p class="parts-grid-info"></p>
                    </div>
                    <img src="" alt="part" width="100px">
                </a>
            </div>
            
            <div class="part grid-col-span-2 GPU">
                <a href="" target="_blank">
                    <div class="parts-grid-text">
                        <h3 class="parts-grid-title">Graphics Card</h3>
                        <p class="parts-grid-info"></p>
                    </div>
                    <img src="" alt="part" width="100px">
                </a>
            </div>
            
            
        
        
        </div>
    </div>
        
    
    <!-- posts -->
    <div class="body b-posts">
        <div class="posts">
            <h1 class="title">
                Recent Posts
            </h1>
        </div>
        <div class="load-more">
            <button>Load more</button>
        </div>
    </div>
        
    
        <!-- form -->
        <div class="body b-form" id="subscribe">
            <div class="subscribe">
                <h3 class="subs__title">
                    Subscribe with us
                </h3>
                <form action="" class="subscribe_form">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi recusandae earum dicta, facere ipsum eos illo deleniti omnis assumenda, molestiae quia expedita vero dolorum porro non illum nihil praesentium</p>
                    <div>
                        <input class="input" type="email" name="" id="" placeholder="E-mail">
                        <button type="submit" class="subs-submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="page-end"></div>
        
    
        <!-- footer -->
        <div class="body b-footer">
            <footer>
                <div class="footer__social">
                    <div class="footer__social__icons">
                        <a href="https://www.reddit.com/r/computerizer/" target="_blank">
                            <img src="{% static 'frontend/media/reddit.svg'%}" alt="reddit logo">
                        </a>
                        <a href="https://twitter.com/computerizer__?s=11&t=4z3z9pOn76PxqEh8y10TTQ" target="_blank">
                            <img src="{% static 'frontend/media/twitter.svg'%}" alt="twitter logo">
                        </a>
                        <a href="https://www.linkedin.com/company/thecomputerizer/" target="_blank">
                            <img src="{% static 'frontend/media/linkedin.svg'%}" alt="/linkedin logo">
                        </a>
                        <a href="https://instagram.com/computerizer_?igshid=YmMyMTA2M2Y=" target="_blank">
                            <img src="{% static 'frontend/media/instagram.svg'%}" alt="instagram logo">
                        </a>
                    </div>
                    <p>2022 LTD | All rights reserved</p>
                </div>
        
                <div class="footer__logo">
                    <img src="{% static 'frontend/media/nLogo.png'%}" alt="logo">
                </div>
        
                <h3 class="footer__name">COMPUTERIZER</h3>
            </footer>
        </div>
        
    
    <script  src="{% static 'frontend/functions/navbar.js'%}"></script>
    <script  src="{% static 'frontend/functions/main.js'%}"></script>
    <script  src="{% static 'frontend/functions/user_auth.js'%}"></script>
   

</body>
</html>
