{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'frontend/styles/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'frontend/styles/recents.css'%}">
    <title>Computerizer</title>
</head>


<body>
    
    <!-- Nav bar -->
    <header class="body b-nav">
        <nav class="nav-bar">
            <div class="logo">
                <img src="{% static 'frontend/media/whiteLogo.png'%}" width="55px" alt="logo" class="logo__img">
                <h2 class="logo__name">
                    Blog
                </h2>
            </div>
            <div class="menus">
                <ul class="pages">
                    <li id="active">
                        <a href="{% url 'home'%}">home</a>
                    </li>
                    <li>
                        <a href="{% url 'recents'%}">recents</a>
                    </li>
                    <li>
                        <a href="{% url 'home'%}">subscribe</a>
                    </li>
                    <li>
                        <a href="{% url 'about'%}">about</a>
                    </li>
                </ul>
                <i class="material-icons">
                    search
                </i>
            </div>
    
            <div class="mobile">
                <div class="menus__mobile hide">
                    <ul class="pages__mobile">
                        <li>
                            <i class="material-icons close__menu">
                                cancel
                            </i>
                        </li>
                        <li id="active">
                            <a href="">home</a>
                        </li>
                        <li>
                            <a href="">recents</a>
                        </li>
                        <li>
                            <a href="">subscribe</a>
                        </li>
                        <li>
                            <a href="">about</a>
                        </li>
                        <li>
                            <i class="material-icons">
                                search
                            </i>
                        </li>
                    </ul>
                </div>
                <i class="material-icons menu__btn">
                    menu
                </i>
    
    
            </div>
    
        </nav>
    </header>


    <!-- posts -->
    <div class="body b-posts">
        <div class="posts">
            <h1 class="title">
                Recent Posts
            </h1>
        </div>
        <div class="load-more">
            <button>Load more</button>
        </div>
    </div>



    <!-- footer -->
    <div class="body b-footer">
        <footer>
            <div class="footer__social">
                <div class="footer__social__icons">
                    <a href="">
                        <img src="{% static 'frontend/media/reddit.svg'%}" alt="reddit logo">
                    </a>
                    <a href="">
                        <img src="{% static 'frontend/media/twitter.svg'%}" alt="twitter logo">
                    </a>
                    <a href="">
                        <img src="{% static 'frontend/media/github.svg'%}" alt="github logo">
                    </a>
                </div>
                <p>2022 LTD | All rights reserved</p>
            </div>
    
            <div class="footer__logo">
                <img src="{% static 'frontend/media/nLogo.png'%}" alt="logo">
            </div>
    
            <h3 class="footer__name">COMPUTERIZER</h3>
        </footer>
    </div>

    <script src="{% static 'frontend/functions/navbar.js'%}"></script>
    <script src="{% static 'frontend/functions/recents.js'%}"></script>
</body>




</html>